# ETL Pipeline - Uber Dataset

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.types import TIMESTAMP, CHAR, Enum, FLOAT, INTEGER, VARCHAR
import logging
import time
import os

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Etapa 0 - Criando Função de Conexão com o Banco

In [2]:
def connect_to_postgres():
    db_user = os.getenv('POSTGRES_USER', 'admin')
    db_password = os.getenv('POSTGRES_PASSWORD', 'admin')
    db_name = os.getenv('POSTGRES_DB', 'postgres')
    db_host = 'postgres' 
    
    conn_string = f"postgresql://{db_user}:{db_password}@{db_host}/{db_name}"
    
    retries = 5
    while retries > 0:
        try:
            logging.info("Tentando conectar ao Postgres...")
            engine = create_engine(conn_string)
            connection = engine.connect()
            logging.info("Conexão com o Postgres estabelecida com sucesso!")
            return engine, connection
        except Exception as e:
            logging.error(f"Falha ao conectar: {e}")
            retries -= 1
            logging.info(f"Tentando novamente em 5 segundos... ({retries} tentativas restantes)")
            time.sleep(5)
    
    logging.critical("Não foi possível conectar ao banco de dados.")
    return None, None

# Etapa 1 - Extract

In [3]:
engine, connection = connect_to_postgres()

if not engine:
    raise RuntimeError("Não foi possível conectar ao banco de dados. Abortando o ETL.")

logging.info("Iniciando Etapa 1: Extract")
raw_path = '/raw/uber-dataset.csv'
df_raw = pd.read_csv(raw_path)
logging.info(f"{len(df_raw)} linhas lidas do arquivo CSV.")

2025-10-10 00:10:28,999 - INFO - Tentando conectar ao Postgres...

2025-10-10 00:10:29,052 - INFO - Conexão com o Postgres estabelecida com sucesso!

2025-10-10 00:10:29,053 - INFO - Iniciando Etapa 1: Extract

2025-10-10 00:10:29,680 - INFO - 150000 linhas lidas do arquivo CSV.

# Etapa 2 - Transform

In [ ]:
logging.info("Iniciando Etapa 2: Transform")
df = df_raw.copy()
df.columns = [c.strip().lower().replace(" ", "_") for c in df.columns]

df['date_time'] = pd.to_datetime(df['date'] + ' ' + df['time'], errors='coerce')

df['booking_id'] = df['booking_id'].str.strip('"')
df['customer_id'] = df['customer_id'].str.strip('"')

numeric_cols = ['avg_vtat', 'avg_ctat', 'booking_value', 'ride_distance', 'driver_ratings', 'customer_rating']

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')


conditions = [
    df['cancelled_rides_by_customer'].notna(),
    df['cancelled_rides_by_driver'].notna()
]
choices = ['customer', 'driver']
df['cancelled_by'] = np.select(conditions, choices, default=None)

df['reason_for_cancelling'] = df['reason_for_cancelling_by_customer'].fillna(df['driver_cancellation_reason'])

final_columns = {
    'date_time': 'date_time',
    'booking_id': 'booking_id',
    'booking_status': 'booking_status',
    'customer_id': 'customer_id',
    'vehicle_type': 'vehicle_type',
    'pickup_location': 'pickup_location',
    'drop_location': 'drop_location',
    'avg_vtat': 'avg_vtat',
    'avg_ctat': 'avg_ctat',
    'cancelled_by': 'cancelled_by',
    'reason_for_cancelling': 'reason_for_cancelling',
    'incomplete_rides_reason': 'incomplete_ride_reason',
    'booking_value': 'booking_value',
    'ride_distance': 'ride_distance',
    'driver_ratings': 'driver_rating', 
    'customer_rating': 'customer_rating',
    'payment_method': 'payment_method'
}

# Seleciona apenas as colunas que vamos usar
df_final = df[final_columns.keys()]

# Renomeia as colunas para o padrão final
df_final = df_final.rename(columns=final_columns)


df_final['booking_value'] = df_final['booking_value'].astype('Int64')

logging.info("Transformação concluída. Schema final do DataFrame:")
print(df_final.info())
print(df_final.head())

2025-10-10 00:10:29,690 - INFO - Iniciando Etapa 2: Transform

2025-10-10 00:10:29,754 - INFO - Limpando aspas dos IDs...

2025-10-10 00:10:29,941 - INFO - Transformação concluída. Schema final do DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date_time               150000 non-null  datetime64[ns]
 1   booking_id              150000 non-null  object
 2   booking_status          150000 non-null  object
 3   customer_id             150000 non-null  object
 4   vehicle_type            150000 non-null  object
 5   pickup_location         150000 non-null  object
 6   drop_location           150000 non-null  object
 7   avg_vtat                139500 non-null  float64
 8   avg_ctat                102000 non-null  float64
 9   cancelled_by            37500 non-null   object
 10  reason_for_cancelling   37500 non-null   object
 11  incomplete_ride_reason  9000 non-null    object
 12  booking_value           102000 non-null  Int64
 13  ride_distance           102000 non-null  float64
 14  driver_rating           93000 non-null   float64
 15  customer_rating         93000 non-null   float64
 16  payment_method          102000 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(5), object(10)
memory usage: 19.6+ MB
None
            date_time  booking_id   booking_status customer_id   vehicle_type  \
0 2024-03-23 12:29:38  CNR5884300  No Driver Found  CID1982111          eBike
1 2024-11-29 18:01:39  CNR1326809       Incomplete  CID4604802       Go Sedan
2 2024-08-23 08:56:10  CNR8494506        Completed  CID9202816           Auto
3 2024-10-21 17:17:25  CNR8906825        Completed  CID2610914  Premier Sedan
4 2024-09-16 22:08:00  CNR1950162        Completed  CID9933542           Bike

       pickup_location      drop_location  avg_vtat  avg_ctat cancelled_by  \
0          Palam Vihar            Jhilmil       NaN       NaN         None
1        Shastri Nagar  Gurgaon Sector 56       4.9      14.0         None
2              Khandsa      Malviya Nagar      13.4      25.8         None
3  Central Secretariat           Inderlok      13.1      28.5         None
4     Ghitorni Village        Khan Market       5.3      19.6         None

  reason_for_cancelling incomplete_ride_reason  booking_value  ride_distance  \
0                   NaN                    NaN           <NA>            NaN
1                   NaN      Vehicle Breakdown            237           5.73
2                   NaN                    NaN            627          13.58
3                   NaN                    NaN            416          34.02
4                   NaN                    NaN            737          48.21

   driver_rating  customer_rating payment_method
0            NaN              NaN            NaN
1            NaN              NaN            UPI
2            4.9              4.9     Debit Card
3            4.6              5.0            UPI
4            4.1              4.3            UPI

# Etapa 3 - Load

In [ ]:
logging.info("Iniciando Etapa 3: Load")

sql_types = {
    'date_time': TIMESTAMP,
    'booking_id': CHAR(10),
    'booking_status': Enum('No Driver Found', 'Incomplete', 'Completed', 'Cancelled by Driver', 'Cancelled by Customer', name='booking_status_enum'),
    'customer_id': CHAR(10),
    'vehicle_type': Enum('eBike', 'Go Sedan', 'Auto', 'Premier Sedan', 'Bike', 'Go Mini', 'Uber XL', name='vehicle_type_enum'),
    'pickup_location': VARCHAR(255),
    'drop_location': VARCHAR(255),
    'avg_vtat': FLOAT,
    'avg_ctat': FLOAT,
    'cancelled_by': Enum('customer', 'driver', 'none', name='cancelled_by_enum'),
    'reason_for_cancelling': Enum('Driver is not moving towards pickup location', 'Driver asked to cancel', 'AC is not working', 'Change of plans', 'Wrong Address', 'Personal & Car related issues', 'Customer related issue', 'More than permitted people in there', 'The customer was coughing/sick', name='cancellation_reason_enum'),
    'incomplete_rides_reason': Enum('Vehicle Breakdown', 'Other Issue', 'Customer Demand', name='incomplete_reason_enum'),
    'booking_value': INTEGER,
    'ride_distance': FLOAT,
    'driver_rating': FLOAT,
    'customer_rating': FLOAT,
    'payment_method': Enum('UPI', 'Debit Card', 'Cash', 'Uber Wallet', 'Credit Card', name='payment_method_enum')
}

try:
    table_name = 'uber_silver' 
    df_final.to_sql(table_name, engine, if_exists='replace', index=False, dtype=sql_types)
    logging.info(f"Dados carregados com sucesso na tabela '{table_name}'!")
except Exception as e:
    logging.error(f"Erro ao carregar dados no banco: {e}")
finally:
    connection.close()
    logging.info("Conexão com o banco de dados fechada.")

2025-10-10 00:10:29,997 - INFO - Iniciando Etapa 3: Load

2025-10-10 00:10:41,194 - INFO - Dados carregados com sucesso na tabela 'uber_silver'!

2025-10-10 00:10:41,195 - INFO - Conexão com o banco de dados fechada.